{%- liquid
  assign product_id = section.id | append: '_' | append: product.id

  if onboarding
    assign title = 'sections.onboarding.product_title' | t
    assign vendor = 'sections.onboarding.vendor' | t
  else
    assign title = product.title
    assign vendor = product.vendor
  endif
-%}

<div class="product--heading-blocks-wrapper">
  {%- for block in section.blocks -%}
    {%- if block.settings.show-above-image -%}
      <div
        class="product--heading-block"
        data-block-type="{{ block.type }}"
        data-fit-together="{{ fit_together }}"
        {{- block.shopify_attributes -}}
      >
        {%- case block.type -%}
          {%- when 'overline' -%}
            <div class="product--heading-block--overline" data-item="overline">
              {%- liquid
                if onboarding
                  echo 'sections.onboarding.overline' | t
                else
                  echo block.settings.overline
                endif
              -%}
            </div>

          {%- when 'heading' -%}
            <div
              {% unless settings.transitions--text %}
                data-transition-item="viewport"
                data-transition-type="slide-in"
              {% endunless %}
            >
              <h2 class="product--heading-block--heading" data-item="section-heading">
                {%- unless main_product or onboarding -%}
                  <a href="{{ product.url }}">
                {%- endunless -%}

                {{- title -}}

                {%- unless main_product or onboarding -%}
                  </a>
                {%- endunless -%}
              </h2>
            </div>

          {%- when 'label' -%}
            {%- liquid
              assign off_t = 'products.off' | t
              assign sale_t = 'products.sale' | t
              assign out_of_stock_t = 'products.out_of_stock' | t

              assign sold_out_enabled = block.settings.sold-out-enabled
              assign sale_enabled = block.settings.sale-enabled
              assign sale_type = block.settings.sale-type
              assign label_color = block.settings.color
              assign label_shape = block.settings.shape
            -%}

            <div
              class="product--label"
              data-background-color="{{ label_color }}"
              data-label-shape="{{ label_shape }}"
            >
              {%- liquid
                if product.available == false and sold_out_enabled
                  echo out_of_stock_t

                elsif sale_enabled and product.compare_at_price > product.price
                  if sale_type == 'text'
                    assign sale_text = sale_t
                  elsif sale_type == 'percent'
                    assign price_diff = product.compare_at_price | minus: product.price
                    assign percent_diff = price_diff | times: 100 | divided_by: product.compare_at_price
                    assign sale_text = percent_diff | append: '% ' | append: off_t
                  endif

                  echo sale_text
                endif
              -%}
            </div>

          {%- when 'vendor' -%}
            <div class="product--block--vendor" data-item="sub-nav-text">
              <a href="{{ product.vendor | url_for_vendor }}">
                {{- vendor -}}
              </a>
            </div>

          {%- when 'price' -%}
            {%- if onboarding -%}
              {%- liquid
                assign price_t = 'sections.onboarding.price' | t
                assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,UYU,VES,VND' | split: ','

                if currencies_using_comma_decimals contains cart.currency.iso_code
                  assign price_t = price_t | replace: '.', ','
                endif
              -%}

              <div class="product--block--price-wrapper">
                <span
                  class="product--block--price"
                  data-item="nav-text"
                  {% if white_text %}
                    data-text-color="white"
                  {% else %}
                    data-text-color="gray"
                  {% endif %}
                >
                  {{- cart.currency.symbol -}}{{- price_t -}}
                </span>
              </div>
            {%- else -%}
              {%- render 'product-price', product: product, id: product_id -%}

            {%- endif -%}

          {%- when 'liquid' -%}
            {{- block.settings.custom-liquid -}}

        {%- endcase -%}
      </div>
    {%- endif -%}
  {%- endfor -%}
</div>
